@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */

/* shared style */
.display-flex{
    display: flex;
}

body{
    font-family: "Work Sans", sans-serif;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main section{
    margin-top: 120px;
}

 /* Header style stard here */

 /* Nav style stard  */
.navber{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
    margin-right: 20px;
}
.band{
    color: rgb(19, 19, 19);
    font-size: 2.813rem;
    font-weight: 700;
    margin-left: 10px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner style here */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-titel{
    color: rgb(19, 19, 19);
    font-size: 2rem;
    font-weight: 700;
}

.banner-para{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;

}

.banner-img{
    width: 100%;
    margin-bottom: 30px;
}

 /* Our Features section stard here kicu proble asa pore abr vllo lore thik korbo */
 .features-container{
    align-items: center;
 }

 .features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
 }

 .feattires-content{
    max-width: 530px;
    margin-left: 130px;
 }
 .features-titel {
    font-size: 2.8rem;
 }

 #quick-list{
    color: #727272;
    font-weight: 500;
 }

 #ofour{
    color: #131313;
    font-weight: 700px;

 }

 #featires{
    color: #FF900E;
    font-weight: 700px;

 }
.features-para {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
 }

 /* Some facts section stard here */
 .facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr)
 }

 .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
 }

 .fact-name{
    color: rgb(114, 114, 114);;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    

 }


 

/* Responsive media query */


@media  screen and (max-width: 576px) {
    .navber,
    .nav-link, 
    .features-container{
        flex-direction: column;
    }
    .facts-container {
        justify-items: center;
    }

    .features-img,
    .facts-container {
        grid-template-columns: 1fr;
    }

}
